/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 :root {
	--primary: #3bedf7;
	--primary-alt: #08B1BA;
	--secondary: #ff2a6d;
	--foreground: #d1f7ff;
	--background: #121212;
	--header: #262626;
	--header-link: #3B3B3B;

    --swiper-navigation-color: var(--header) !important;
    --swiper-theme-color: var(--header) !important;
 }
body {
    min-height: 92vh;
    display: flex;
    flex-direction: column;
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: var(--background);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--foreground);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: var(--foreground);
}
a {
	text-decoration: none;
	color: var(--primary);
}
a:hover {
	text-decoration: underline;
	color: var(--primary-alt);
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: var(--header);
}
pre {
	background-color: var(--header) !important;
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: var(--foreground);
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

mark {
	background-color: var(--primary);
}
