---
import '../styles/global.css';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon';
---

<header>
	<nav>
		<HeaderLink href="/">
			<Icon class="icon" name="noto:house-with-garden" />
			Home
		</HeaderLink>
		<HeaderLink href="/work">
			<Icon class="icon"  name="noto:briefcase" />
			Work
		</HeaderLink>
		<!-- <HeaderLink href="/blog">
			<Icon class="icon" name="noto:seedling" />
			Blog
		</HeaderLink> -->
		<HeaderLink href="/about">
			<Icon class="icon" name="noto:man-astronaut-light-skin-tone" />
			About
		</HeaderLink>
	</nav>
</header>
<style>
	header {
		display: flex;
		justify-content: center;
		margin: 0em 0 2em;
	}
	nav {
		display: flex;
		align-items: center;
		background-color: var(--header);
		padding: 0 20px 0 20px;
		border-radius: 999px;
	}
	h2 {
		margin: 0.5em 0;
	}
	.icon {
		/* OR */
		font-size: 0em !important;
		width: 1.5rem !important;
		margin-right: .2rem;
	}
</style>
