---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

const slicePath = pathname.split('/')[1]
const completePath = `/${slicePath}`

const isActive = href === completePath;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style  lang="css">
	a {
		font-size: 1em !important;
		display: flex;
		color: var(--foreground);
		padding: 8px;
		text-decoration: none !important;
		margin-right: 0;
	}
	a:hover {
		background-color: var(--header-link);
		color: var(--foreground);
	}
	a.active {
		color: var(--primary);
	}
</style>
